 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  align-self: center;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1140px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-video-1 {
  width: 886px;
  height: 531px;
  margin: 30px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 204px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 385px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  text-align: start;
  margin: -36px 169px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  width: 803px;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 33px auto 44px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 106px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 348px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-form-1 {
  width: 510px;
  height: 371px;
  margin: 0 -76px 0 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 213px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 28px 0 0 284px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 242px;
  min-width: 178px;
  margin: -34px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: 28px 0 -13px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-3 .u-form-1 {
    width: 441px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 176px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 324px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}