 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1018px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  align-self: center;
  margin: 21px 48px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  align-self: center;
  margin: -29px auto 0;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 40px;
  height: 25px;
  color: rgb(0, 0, 0) !important;
  margin: -28px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  align-self: center;
  margin: -23px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 40px;
  height: 25px;
  margin: -27px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 40px;
  height: 25px;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1140px;
  margin: 8px auto 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 840px;
  width: 540px;
  margin: 30px auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-4 {
  object-position: 100% 43.64%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-image-8 {
  object-position: 59.9% 50%;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 19px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin: -54px auto 0 -20px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-carousel-control-1 {
    top: 122px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 360px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 55px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 37px auto 0 1007px;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-weight: 500;
  font-size: 1.125rem;
  margin: -28px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  margin: -29px auto 0 48px;
  padding: 0;
}

.u-section-2 .u-rotation-parent-1 {
  width: 40px;
  height: 25px;
  margin: -27px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 40px;
  height: 25px;
}

.u-section-2 .u-shape-2 {
  width: 40px;
  height: 25px;
  margin: -25px auto 33px 1100px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 807px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin: 46px auto 0 0;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 900px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 587px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 407px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 207px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 300px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 348px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-form-1 {
  width: 510px;
  height: 371px;
  margin: 0 -76px 0 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 212px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 28px 0 0 284px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 242px;
  min-width: 178px;
  margin: -34px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 216px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-3 .u-form-1 {
    width: 441px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 324px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}