 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  align-self: center;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  align-self: center;
  margin: -28px 48px 0 auto;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 40px;
  height: 25px;
  color: rgb(0, 0, 0) !important;
  margin: -28px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  align-self: center;
  margin: -23px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 40px;
  height: 25px;
  margin: -27px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 40px;
  height: 25px;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1140px;
  margin: 8px auto 0 0;
}

.u-section-1 .u-video-1 {
  width: 600px;
  height: 600px;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 100%;
  top: 0%;
}

.u-section-1 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: -565px 72px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 80px;
  height: 80px;
  margin: -55px auto 0 20px;
}

.u-section-1 .u-image-3 {
  width: 95px;
  height: 96px;
  margin: 93px 95px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 80px;
  height: 72px;
  margin: -96px auto 0 118px;
}

.u-section-1 .u-image-5 {
  width: 80px;
  height: 80px;
  margin: 147px auto 0 40px;
}

.u-section-1 .u-image-6 {
  width: 80px;
  height: 72px;
  margin: -72px 48px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin: -54px auto 0 -20px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: -54px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -533px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 23px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 242px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 739px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 56px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-align: start;
  width: 803px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  text-align: start;
  width: 803px;
  margin: 30px auto 0;
}

.u-section-2 .u-group-1 {
  min-height: 31px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0 49px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-weight: 500;
  font-size: 1.125rem;
  margin: -28px auto 0 524px;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 500;
  font-size: 1.125rem;
  border-style: none;
  margin: -29px auto 0 48px;
  padding: 0;
}

.u-section-2 .u-rotation-parent-1 {
  width: 40px;
  height: 25px;
  margin: -27px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 40px;
  height: 25px;
}

.u-section-2 .u-shape-2 {
  width: 40px;
  height: 25px;
  margin: -25px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 324px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin: 46px auto 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }

  .u-section-2 .u-text-4 {
    width: 720px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 348px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-form-1 {
  width: 510px;
  height: 371px;
  margin: 0 -76px 0 0;
}

.u-section-3 .u-form-group-1 {
  width: 100%;
}

.u-section-3 .u-form-group-2 {
  width: 100%;
}

.u-section-3 .u-form-group-3 {
  width: 100%;
}

.u-section-3 .u-form-group-4 {
  width: 100%;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 213px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 28px 0 0 284px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 242px;
  min-width: 178px;
  margin: -34px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: 28px 0 -13px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-3 .u-form-1 {
    width: 441px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 176px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 191px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 324px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}